/*****************HOME************************/
/*********************************************/

	header.pnf {
		background: -webkit-linear-gradient(90deg, #78B53C 30%, #9ecf6e 90%); /* Chrome 10+, Saf5.1+ */
		background:    -moz-linear-gradient(90deg, #78B53C 30%, #9ecf6e 90%); /* FF3.6+ */
		background:     -ms-linear-gradient(90deg, #78B53C 30%, #9ecf6e 90%); /* IE10 */
		background:      -o-linear-gradient(90deg, #78B53C 30%, #9ecf6e 90%); /* Opera 11.10+ */
		background:         linear-gradient(90deg, #78B53C 30%, #9ecf6e 90%); /* W3C */

		color: #fff;
		padding: 50px 0;
		text-align: center;
	}

	.previews .thumbnail {
		background-image: url("../img/logos/premium-bg.png");
		text-align: center;
	}

	.bg-footer-bottom {
		background-color: #162029;
		padding-bottom: 32px;
		padding-top: 32px;
		color:white;
	}

	.copy-left {
		display: inline-block;
		text-align: right;
		margin: 0;
		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		filter: FlipH;
		-ms-filter: "FlipH";
	}

	.logo_spirale_noire {
		max-width: 40%;
		height: auto;
	}

	.fa-spinner {
		-webkit-animation: rotate 1s linear infinite both;
	  animation: rotate 1s linear infinite both;
	}

	@-webkit-keyframes rotate {
		0% {
		  -webkit-transform-origin: center;
		  transform-origin: center;
		  -webkit-transform: rotate3d(0, 0, 1, -360deg);
		  transform: rotate3d(0, 0, 1, -360deg);
	  }
	  100% {
		  -webkit-transform-origin: center;
		  transform-origin: center;
		  -webkit-transform: none;
		  transform: none;
	  }
	}

	@keyframes rotate {
	  0% {
		  -webkit-transform-origin: center;
		  transform-origin: center;
		  -webkit-transform: rotate3d(0, 0, 1, -360deg);
		  transform: rotate3d(0, 0, 1, -360deg);
	  }
	  100% {
		  -webkit-transform-origin: center;
		  transform-origin: center;
		  -webkit-transform: none;
		  transform: none;
	  }
  }



/****************** GENERAL ******************/
/*********************************************/

	html, body {
		height: 98%;
	}
	#mapx {
		width:98%;
		position: fixed;
		height:85%;
		/*margin: 0;
		padding: 0;*/
	}


/****************** VIEW - MAPS ******************/
/*********************************************/

	#map-title {
		color:white;
	}


/****************** Info Secteur-Communes ******************/
/***********************************************************/
	.info_secteurs {
		padding: 6px 8px;
		font: 14px/16px Arial, Helvetica, sans-serif;
		background: white;
		background: rgba(255,255,255,0.8);
		box-shadow: 0 0 15px rgba(0,0,0,0.2);
		border-radius: 5px;
	}
	.info_secteurs h4 {
		margin: 0 0 5px;
		color: #777;
	}


	.info {
		padding: 6px 8px;
		font: 14px/16px Arial, Helvetica, sans-serif;
		background: white;
		background: rgba(255,255,255,0.8);
		box-shadow: 0 0 15px rgba(0,0,0,0.2);
		border-radius: 5px;
	}


/****************** Légende dans le controle des couches ******************/
/**************************************************************************/
/*
Définit le rectangle de couleur de la légende
La couleur en elle même est définit en html
directement dans le fichier js.

Le principe est de transformer la div qui est
normallement un block, en inline block pour
permettre de garder notre rectangle de couleur
sur la même ligne que le contenu du controle
des couches.
*/
	.rectangle {
		display: inline-block;
		line-height: normal;
		vertical-align:middle;
		height: 16px;
		width: 24px;
		margin-right: 8px;
	}

/*
Définit le style du rectangle pour les
couches avec bordure de 2 pixels.

Idem que la class rectangle, mais on change
le width et le height puisque les bordures
se mettent à l'extèrieur du rectangle.
Cela permet de garder en apparence des rectangles
d'a peu près la même largeur et hauteur.
*/
	.rectangle_bordure2 {
		display: inline-block;
		line-height: normal;
		vertical-align:middle;
		height: 12px;
		width: 20px;
		margin-right: 8px;
	}

/*
Définit le style du rectangle pour les
couches avec bordure de 3 pixels.

Idem que rectangle_bordure2.
*/
	.rectangle_bordure3 {
		display: inline-block;
		line-height: normal;
		vertical-align:middle;
		height: 11px;
		width: 19px;
		margin-right: 8px;
	}

/*
Définit le style du texte du controle des couches.

Le principe est le même que pour les rectangles
sauf qu'en plus on aligne verticalement le texte
sur le milieu du rectangle.
*/
	.content_legende {
		display: inline-block;
		line-height: normal;
		vertical-align:middle;
	}

/****************** Sidebar ******************/
/**************************************************************************/
.overlays-group {
	margin-top: 1rem;
}

.overlays-collapser-toggle {
	background: none;
	border: none;
	outline: none;
	box-shadow: none;
}

.overlays-group-icon {
	font-size: 1.8rem;
	display: inline-block;
	vertical-align: middle;
	transition: transform 0.2s ease-out;
}

.overlays-collapser-toggle.collapsed .overlays-group-icon {
	transform: rotateZ(-90deg);
}

.overlays-group-title {
	font-size: 1.5rem;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}
