[
	{
		"order" : 1,
		"id": "test",
		"geosearch": true,
		"imageUrl": "http://i0.wp.com/blog.fabianpiau.com/wp-content/uploads/post/00043/osm-logo.png?resize=146,169",
		"name": "Default Map",
		"resume": "Description de la carte qui s'affichera dans l'onglet d'informations situé dans la sidebar. Pas de HTML pour l'instant ici...",
		"center": {
			"lat": 44.09413,
			"lng": 6.99029,
			"zoom": 9
		},
		"bounds": {
			"southWest": {
				"lat":43.42144,
				"long":5.13159
			},
			"northEast": {
				"lat":44.84672,
				"long":9.22737
			},
			"minZoom": 9,
			"maxZoom": 18
		},
		"legend":"<div id='legend'><nav class='clearfix'>A supprimer ?</nav></div>",
		"layers": {
			"baselayers": [
				{
					"id": "5",
					"name": "Parcellaires IGN",
					"type": "ign",
					"layer":"CADASTRALPARCELS.PARCELS",
					"key":"nt0tpd7zhtp2zvhpiilqgyzb",
					"format":"image/png",
					"style":"bdparcellaire_o",
					"active": false,
					"options":{}
				},
				{
					"id": "4",
					"name": "Mapbox",
					"type": "xyz",
					"url": "http://api.tiles.mapbox.com/v4/mapbox.streets/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFyaW5lbSIsImEiOiJXOW92NVFJIn0.XsgoSQ8l6dGZsnTugVLtOQ",
					"active": false,
					"options":{}
				},
				{
					"id": "3",
					"name": "IGN - ortho",
					"type": "ign",
					"layer":"ORTHOIMAGERY.ORTHOPHOTOS",
					"key":"w9wn74qduiunscklhf1354kc",
					"format":"image/jpeg",
					"style":"normal",
					"active": false,
					"options":{}
				},
				{
					"id": "2",
					"name": "IGN - topo",
					"type": "ign",
					"layer":"GEOGRAPHICALGRIDSYSTEMS.MAPS",
					"key":"w9wn74qduiunscklhf1354kc",
					"format":"image/jpeg",
					"style":"normal",
					"active": false,
					"options":{}
				},
				{
					"id": "1",
					"name": "OpenStreetMap",
					"type": "xyz",
					"url": "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
					"active": true,
					"options":{}
				}
			],
			"overlays": {
				"groups": [
					{ "id": "limRegl", "label": "Limites & réglementations PNM" },
 					{ "id": "tourism", "label": "Tourisme" },
					{ "id": "tourism", "label": "Tourisme" }
				],
				"values": [
					{
						"id":"coeur",
						"name": "Coeur de Parc",
						"type": "geojson",
						"active": true,
						"thumbnail": "http://rando.mercantour.eu/custom/images/logo_pnam_pnm.jpg",
						"champ_geom": "geom",
						"table": "limregl.cr_pnm_coeur_cad",
						"fields": "id",
						"group": "limRegl",
						"options": {
							"style": "function (feature) { return { color:'#0033ff',  fill:'#0033ff', opacity: 0.4, fillOpacity: 0.2}; }",
							"onEachFeature": "function (feature, layer) { layer.bindPopup(\"<h2>\"+feature.properties.name+\"</h2>\"); }"
						}
					},
					{
						"id":"aa",
						"name": "Aire d'adhésion",
						"type": "geojson",
						"active": false,
						"champ_geom": "geom",
						"table": "limregl.cr_pnm_aa_topo",
						"fields": "surface",
						"group": "limRegl",
						"options": {
							"style": "function (feature) { return { color:'#0033ff',  fill:'#0033ff', opacity: 0.4, fillOpacity: 0.2}; }",
							"onEachFeature": "function (feature, layer) { layer.bindPopup(\"<h2>\"+feature.properties.name+\"</h2>\"); }"
						}
					},
					{
						"id":"aoa",
						"name": "Aire optimale d'adhésion",
						"type": "geojson",
						"active": false,
						"champ_geom": "geom",
						"table": "limregl.cr_pnm_aoa_topo",
						"fields": "id",
						"group": null,
						"options": {
							"style": "function (feature) { return { color:'#0033ff',  fill:'#0033ff', opacity: 0.4, fillOpacity: 0.2}; }",
							"onEachFeature": "function (feature, layer) { layer.bindPopup(\"<h2>\"+feature.properties.nom_site+\"</h2>\"); }"
						}
					},
					{
						"id":"must-see",
						"name": "Incontournables",
						"type": "geojson",
						"active": true,
						"infoBand": true,
						"champ_geom": "geom",
						"table": "tourisme.sites_incontournables",
						"fields": "id, title, descript, file, other, pic_1, titlepic_1, ownerpic_1, pic_2, titlepic_2, ownerpic_2, video",
						"group": "tourism",
						"options": {
						    "onEachFeature": "function (feature, layer) {layer.bindTooltip('<h2>' + feature.properties.title + '</h2>');}"
						}
				    	}
				]
			}
		}
	}
]
