<div>
	<div class="navbar navbar-inverse" role="navigation">
		<a href="#/" class="navbar-brand"><img id="nav-logo-home" class="img-responsive center-block" alt="hom pnc" src="img/logos/Spirale_vert.png" style="height:30px"></a><h3 id="map-title">{{mapinfo.name}}</h3></li>

	</div>

	<div class="container-fluid">

	<!-- GENERATION DE LA LEGENDE -->
		<div id="sidebar" class="sidebar collapsed">
			<!-- Nav tabs -->
			<div class="sidebar-tabs">
				<ul role="tablist">
					<li><a ng-href="#home"><img ng-src="img/icons/layers_26.png"></a></li>
				</ul>
			</div>

			<!-- Tab panes -->
			<div class="sidebar-content">
				<div class="sidebar-pane" id="home">
					<h1 class="sidebar-header">
						Contrôleur de couche
						<span ng-if="overlaysLoading">(Loading...)</span>
						<span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
					</h1>

					<div class="checkbox" ng-repeat="(key, overlay) in overlays">
						<label>
							<input
								type="checkbox"
								name="test"
								ng-model="overlay.active"
								ng-click="toggleOverlay(overlay)"
							>{{overlay.name}}
						</label>
					</div>

				</div><!-- FIN DIV sidebar-pane  -->
			</div><!-- FIN DIV sidebar-content  -->
		</div>
		<!-- FIN DE GENERATION DE LA LEGENDE -->





		<div id="mapx" class="sidebar-map">>
		</div>
		<div style="position: fixed;top: 95%;">
			<button  ng-repeat="(key, baselayer) in baselayers"  ng-click="changeTiles(key)" id="activate-scan-{{key}}" class="btn " ng-class="{false: 'btn-warning', true: 'btn-primary'}[baselayer.active]" >{{baselayer.name}}</button>
		</div>
	</div>
</div>
