<div>
	<div class="navbar navbar-inverse" role="navigation">
		<a href="#/" class="navbar-brand"><img id="nav-logo-home" class="img-responsive center-block" alt="hom pnc" src="img/logos/Spirale_vert.png" style="height:30px"></a><h3 id="map-title">{{mapinfo.name}}</h3></li>

	</div>

	<div class="container-fluid">
		<div id="mapc">
		</div>
		<div style="position: fixed;top: 95%;">
			<button  ng-repeat="(key, baselayer) in baselayers"  ng-click="changeTiles(key)" id="activate-scan-{{key}}" class="btn " ng-class="{false: 'btn-warning', true: 'btn-primary'}[baselayer.active]" >{{baselayer.name}}</button>
		</div>
	</div>
</div>
