<div>
	<div class="navbar navbar-inverse" role="navigation">
		<a href="#/" class="navbar-brand"><img id="nav-logo-home" class="img-responsive center-block" alt="hom pnc" src="img/logos/Spirale_vert.png" style="height:30px"></a><h3 id="map-title">{{mapinfo.name}}</h3></li>

	</div>

	<div class="map-container container-fluid">

	<!-- GENERATION DE LA LEGENDE -->
		<div id="sidebar" class="sidebar collapsed">
			<!-- Nav tabs -->
			<div class="sidebar-tabs">
				<ul role="tablist">
					<li><a ng-href="#home"><img ng-src="img/icons/layers_26.png"></a></li>
					<li><a ng-href="#info"><img ng-src="img/icons/info_26.png"></a></li>
				</ul>
			</div>

			<!-- Tab panes -->
			<div class="sidebar-content">
				<div class="sidebar-pane" id="home">
					<h1 class="sidebar-header">
						Contrôleur de couche
						<i ng-if="overlaysLoading" class="fa fa-spinner" aria-hidden="true"></i>
						<span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
					</h1>

					<div class="overlays-group" ng-repeat="group in overlaysGroups track by group.id">
						<button class="overlays-collapser-toggle collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{group.id}}" aria-expanded="false" aria-controls="collapse-{{group.id}}">
							<i class="overlays-group-icon fa fa-caret-down"></i>
							<h2 class="overlays-group-title">{{group.label}}</h2>
						</button>
						<ul  class="collapse overlays-group-values collapsed" id="collapse-{{group.id}}">
							<li class="checkbox" ng-repeat="overlay in overlays track by overlay.id" ng-if="overlay.group && overlay.group === group.id">
								<label>
									<div ng-if="overlay.thumbnail"class="overlays-group-values-thumbnail">
										<img ng-src="{{overlay.thumbnail}}" alt="{{overlay.name}} thumbnail"/>
									</div>
									<div>
										<input
											type="checkbox"
											name="test"
											ng-model="overlay.active"
											ng-click="toggleOverlay(overlay)"
										>{{overlay.name}}
									</div>
								</label>
							</li>
						</ul>
					</div>

					<div class="overlays-group">
						<button class="overlays-collapser-toggle collapsed" type="button" data-toggle="collapse" data-target="#collapse-other" aria-expanded="false" aria-controls="collapse-other">
							<i class="overlays-group-icon fa fa-caret-down"></i>
							<h2 class="overlays-group-title">Autres</h2>
						</button>
						<ul class="collapse overlays-group-values collapsed" id="collapse-other">
							<li class="checkbox" ng-repeat="overlay in overlays track by overlay.id" ng-if="!overlay.group">
								<label>
									<div ng-if="overlay.thumbnail"class="overlays-group-values-thumbnail">
										<img ng-src="{{overlay.thumbnail}}" alt="{{overlay.name}} thumbnail"/>
									</div>
									<div>
										<input
											type="checkbox"
											name="test"
											ng-model="overlay.active"
											ng-click="toggleOverlay(overlay)"
										>{{overlay.name}}
									</div>
								</label>
							</li>
						</ul>
					</div>
				</div><!-- FIN DIV sidebar-pane  -->
					<div class="sidebar-pane" id="info">
						<h1 class="sidebar-header">Informations<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
						<h4>Description des données affichées :</h4>
						{{mapinfo.resume}}
					</div>
			</div><!-- FIN DIV sidebar-content  -->
		</div>
		<!-- FIN DE GENERATION DE LA LEGENDE -->

		<div id="mapx" class="sidebar-map">
		</div>
		<div class="info-band" ng-class="{active: infoBand && showInfoBand}">
			<div class="row">
				<div class="col-md-5">
					<div ng-if="infoBand.pic_1 || infoBand.pic_2" class="info-band-carousel">
						<div id="infoBand-carousel" class="carousel slide" data-interval="0">

							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<div ng-if="infoBand.video" class="info-band-video item active">
									<iframe ng-src="{{infoBand.video}}" html="100%" width="100%" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
								</div>
								<div ng-if="infoBand.pic_1" class="item" ng-class="{active: !infoBand.video}">
									<img ng-src="{{infoBand.pic_1}}" alt="{{infoBand.titlepic_1}}">
									<div class="carousel-caption info-band-carousel-caption">
										<div class="picture-title">{{infoBand.titlepic_1}}</div>
										<div class="picture-author">{{infoBand.ownerpic_1}}</div>
									</div>
								</div>
								<div ng-if="infoBand.pic_2" class="item" ng-class="{active: !infoBand.video && !infoBand.pic_1}">
									<img ng-src="{{infoBand.pic_2}}" alt="{{infoBand.titlepic_2}}">
									<div class="carousel-caption info-band-carousel-caption">
										<div class="picture-title">{{infoBand.titlepic_2}}</div>
										<div class="picture-author">{{infoBand.ownerpic_2}}</div>
									</div>
								</div>
							</div>
						</div>

						<div class="info-band-carousel-controls">
							<!-- Controls -->
							<a class="left carousel-control" role="button" ng-click="previousSlide()">
								<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="right carousel-control" role="button" ng-click="nextSlide()">
								<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<h2 ng-if="infoBand.title" class="info-band-title">{{infoBand.title}}</h2>
					<p ng-if="infoBand.descript" class="info-band-description">{{infoBand.descript}}</p>
					<div ng-if="infoBand.file" class="info-band-download">
						<a class="info-band-download btn btn-primary" href="{{infoBand.file}}" target="_blank">Télécharger le fichier associé</a>
					</div>
					<div ng-if="infoBand.other" class="info-band-other">
						{{infoBand.other}}
					</div>
				</div>
			</div>
			<button type="button" class="info-band-close close" ng-click="closeInfoBand()"><span aria-hidden="true">×</span></button>
		</div>

	</div>
	<div class="baselayers-menu container-fluid">
		<button  ng-repeat="(key, baselayer) in baselayers track by baselayer.id"  ng-click="changeTiles(key)" id="activate-scan-{{key}}" class="btn " ng-class="{false: 'btn-warning', true: 'btn-primary'}[baselayer.active]" >{{baselayer.name}}</button>
	</div>
</div>
